<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Dear <%= @user.name %>,</h1>
    <p>
      
      You have successfully deleted from my awesome site.
      We are sad to see you go.<br>
    </p>
    
    <p>Thanks and have a great day!</p>
  </body>
</html>